@tailwind base;
@tailwind components;
@tailwind utilities;

/* Eliminar scrollbars globalmente */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* WebKit */
}

/* Asegurar que el body y html no tengan scrollbars */
html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}